@import "tailwindcss";



@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

.bg{
  background: #141414;
  background: linear-gradient(90deg, rgba(20, 20, 20, 1) 1%, rgba(43, 43, 43, 1) 40%, rgba(56, 56, 56, 1) 100%);
}








/* 
.card-poke{
    background: radial-gradient(80% 80% at 50% bottom, rgb(102, 204, 51), rgba(6, 14, 32, 0.8));
} */